*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0%;
    background-color: #f0f2f5;
}

.main-div {
    margin: 0%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    flex-direction: column;
    align-items: center;
}

.form-div {
    box-shadow: #d9dbde 0px 0px 12px 2px;
    border-radius: 7px;
}
 /* Sign up  */
.sign-up {
    background-color: white;
    width: 430px;
    margin: 0%;
    border-radius: 7px;
}

.head-div {
    text-align: center;
    margin: 0%;
}
 /* Face book logo  */
.logo {
    margin-bottom: 10px;
}

/* Create new account  */
h1 {
    font-weight: bold;
    font-size: 27px;
    padding: 8.5px 0px 0px 0px;
    margin: 0%;
}
 /* its quick easy  */
.para {
    margin: 0%;
    padding-top: 2.5px;
    font-size: 15px;
    color: #606770;
    padding-bottom: 12px;
    border-bottom: solid 1px #dadde1;

}

.body-div {
    display: flex;
    margin: 0%;
    justify-content: center;
}
/* Nama  */
.name-div {
    padding: 15px 15px 10px 15px;

}

.name {
    margin: 0%;
    padding: 13px 10px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-style: solid;
    border-radius: 5px;
    border-color: #e3e3e3;
}
/* Email and password  */
.email-password {
    display: flex;
    flex-direction: column;
   margin-left: 5px;
    padding: 0px 15px;
}

.email,
.password {
    display: flex;
    margin: 0%;
    padding: 13px;
    width: 99%;
    margin-bottom: 10px;
    border-radius: 5px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: #e3e3e3;
}
 /* Gender  */
#dob,
.gender-h {
    display: block;
    font-size: 12px;
    padding: 5px 0px 7px 15px;
    font-family: SFPRODISPLAYREGULAR, sans-serif;
    color: #606770;
}

.ima {
    display: inline;
    height: 10px;
    width: 10px;
    margin-left: 2px;
}
/* Date of Birth  */
.DOB {
    display: flex;
    margin: 0%;
    justify-content: center;
    width: 100%;
    margin-left: 5px;
    padding-bottom: 8px;

}

#date,
#year,
#month {
    padding: 8px 8px 8px 10px;
    width: 28.5%;
    margin-right: 15px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-radius: 5px;
    background-color: white;
    border-color: #e3e3e3;
}

.gender {
    display: flex;
    margin: 0%;
    justify-content: center;
    width: 100%;
    margin-left: 5px;
    padding-bottom: 8px;
    border-color: #606770;
}

.gender0 {
    padding: 8px 8px 8px 10px;
    width: 28.5%;
    margin-right: 15px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-radius: 5px;
    border-color: #e3e3e3;
}
 /* female  */
.gen1 {
    padding-right: 24px;
}
/* male  */
.gen2 {
    padding-right: 40px;
}
/* custom  */
.gen3 {
    padding-right: 20px;
}
/* information  */
.term {
    color: #385898;
    padding: 4px 13.5px;
    font-size: 14.5px;
}

a {
    text-decoration: none;
}

.submit {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* sign up button  */
.sign {
    margin: 0%;
    padding: 7px 60px;
    font-size: large;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    margin-right: 15px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    background-color: #00a400;
    border-color: #00a400;
    border-radius: 6px;
    color: white;
    font-weight: 700;
}
 /* Already account  */
.alt-login {
    text-align: center;
    padding-bottom: 22px;
    font-size: large;
    font-weight: 500px;
    padding-right: 17px;
}
.already-acc{
    color: #1877F2;
}
/* footer  */
.foot {
    display: flex;
    width: 100%;
    margin: 0%;
    background-color: white;
    margin-top: 60px;
    justify-content: center;
}

.foot-er {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 35px 10px 10px 0px;
    margin-left: 160px;
    margin-right: 150px;
}
/* languages  */
.foot-em {
    padding: 0px 3px;
    font-size: 13px;
    margin-left: 1px;
    color: #385898;
}

.foot-em0 {
    border: 1px solid #ccd0d5;
    padding: 0px 8px;
    color: #626a79;
    border-radius: 2px;
    background-color: #f5f6f7;
    font-weight: bolder;
    margin-left: 5px;

}
.foot-er1 {
    border-top: 1px solid #dddfe2;
    margin-top: 8px;
    margin-right: 23px;
    padding-top: 8px;
    margin-bottom: 20px;
}
/* footer links  */

.foot-em1 {
    padding: 0px 4px;
    margin-right: 4px;
    font-size: 13px;
      color: #385898;
}

.foot-em2 {
    padding: 0px 9px;
    margin-right: 4px;
    font-size: 13px;
     color: #385898;
}
/* copy rigth  */
.cpright {
    color: #626a79;
    font-size: 11px;
    margin-left: 4px;
    margin-bottom: 15px;
}
@media (max-width:600px){
    
    body{
       display: flex;
       width: 100%;
       margin: 0px 0px 40px 110px;
    }
    .main-div{
        aspect-ratio: 16/9;
        flex-wrap: nowrap;
         
    }
    .form-div, .logo{
        display:flex;
        position: relative;
        left: 600px;
        flex-shrink: 3;
    }
    .foot{
        display:flex;
        height:200px;
        width: 800px;
        justify-content: center;
        flex-direction:column;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
    position: relative;
    top: 700px;
     }
.foot-em1, .foot-em2,.foot-em, .foot-em0{
    flex-wrap: nowrap;
    font-size: 15px;
    position: relative;
    right: 10px;
}
.foot-er{
    width: 600px;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 1;
}
}
@media (max-width:768px){
    body{
        display: flex;
        margin: 0px 0px 40px 110px;
        padding-left: 200px;
    }
    .main-div{
        aspect-ratio: 16/9;
        flex-wrap: nowrap;
    }
    .form-div, .logo{
        display:flex;
        flex-shrink: 3;
        position: relative;
        left: 600px;
    }
    .foot{
        display:flex;
        height:400px;
        width: 800px;
        justify-content: center;
        flex-direction:column;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
    position: relative;
    top: 700px;
    right: 200px;
     }
.foot-em1, .foot-em2,.foot-em, .foot-em0{
    flex-wrap: nowrap;
    font-size: 15px;
    position: relative;
    right: 20px;
}
.foot-er{
    width: 800px;
    display: flex;
    position: relative;
    left: 20px;
    flex-wrap: nowrap;
    flex-shrink: 1;
}
}
@media (max-width:900px){
    body{
        display: flex;
        margin: 0px 0px 40px 110px;
        padding-left: 200px;
    }
    .main-div{
        aspect-ratio: 16/9;
        flex-wrap: nowrap;
    }
    .form-div, .logo{
        display:flex;
        position: relative;
        left: 600px;
        flex-shrink: 3;
    }
    .foot{
        display:flex;
        height:200px;
        width: 800px;
        justify-content: center;
        flex-direction:column;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
    position: relative;
    top: 700px;
    right: 100px;
     }
.foot-em1, .foot-em2,.foot-em, .foot-em0{
    flex-wrap: nowrap;
    font-size: 15px;
}
.foot-er{
    width: 800px;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 1;
}
}
@media (max-width:1200px){
    body{
        display: flex;
        margin: 0px 0px 40px 110px;
        padding-left: 200px;
    }
    .main-div{
        aspect-ratio: 16/9;
        flex-wrap: nowrap;
    }
    .form-div, .logo{
        display:flex;
        position: relative;
        left: 250px;
        flex-shrink: 3;
    }
    .foot{
        display:flex;
        height:200px;
        width: 800px;
        justify-content: center;
        flex-direction:column;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
    position: relative;
    top: 700px;
    left: -300px;
    
     }
.foot-em1, .foot-em2,.foot-em, .foot-em0{
    flex-wrap: nowrap;
    font-size: 15px;
}
.foot-er{
    width: 800px;
    display: flex;
    position: relative;
    left: -180px;
    padding-left: 70px;
    background-color: #FFFFFF;
    flex-wrap: nowrap;
    flex-shrink: 1;
}
} 
